PORT=5050
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=30m
COOKIE_NAME=tijera_brava_sesion
APP_TIMEZONE=America/Lima
SUPABASE_URL=https://kcdsmhcybkqkgsncjoyr.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_TU_CLAVE_SECRETA

SUPABASE_STORAGE_BUCKET_PERFILES=perfiles
SUPABASE_STORAGE_BUCKET_PORTAFOLIOS=portafolios
SUPABASE_STORAGE_BUCKET_LOOKIA=lookia
